@model AssetTracking.App.Models.AssetSearchViewModel

@{
    ViewData["Title"] = "Index";
    Filters filter = new Filters()
    {
        assigned = -1,
        employee = -1,
        type = -1
    };
}


<div style="padding-top:50px;">
    <h2>Assets</h2>
    <select id="uxAssigns">
        <option value="-1">All</option>
        <option value="0">Unassigned</option>
        <option value="1">Assigned</option>
    </select>
    @*select drop down for types*@
    <select id="uxTypes" asp-items="@Model.Types">
        <option value="-1">All</option>
    </select>
    <select id="uxEmployees">
        <option value="-1">All</option>
    </select>
</div>

<div id="uxFilteredAssets">
    @*this is the area wehre we will display available properties for the selected type*@
    @await Component.InvokeAsync("FilterAssets", filter)
</div>

@section Scripts {
    <script>
        var assign = -1, type = -1, employee = -1;
        
        function populateEmployees() {
            var dropDown = $('#uxEmployees');
            $.ajax({
                method: 'GET',
                url: 'https://localhost:44383/api/Employee'
            }).done(function(data, statusText, xhdr) {
                $.each(data,
                    function(index, employee) {
                        var option = new Option(employee.firstName + ' ' + employee.lastName, employee.id);
                        dropDown.append(option);
                    });
            }).fail(function(xhdr, statusText, errorText) {
                dropDown.options[dropDown.length] = new Option("Error", 0);
            });
        }

        function populateTable() {
            assign = $('#uxAssigns').val();
            type = $("#uxTypes").val();
            employee = $('#uxEmployees').val();

            $.ajax({
                method: 'POST',
                url: '/Asset/GetAssetsByFilters',
                data: {
                    filter: { "assigned": assign, "employee": employee, "type": type }
                }
            }).done(function(result, statusText, xhdr) {
                $("#uxFilteredAssets").html(result);
            }).fail(function(xhdr, statusText, errorText) {
                $("#uxFilteredAssets").html(JSON.stringify(xhdr));
            });
        }
        //user jquery's ajax method to call a view component to display
        $(document).ready(function () {
            populateEmployees();
            $("#uxAssigns,#uxTypes,#uxEmployees").change(function () {
                populateTable();
            });
        });
    </script>
}